body
{
	overflow-x: hidden;
	height: 100%;
}
.maincont
{
	background-image: url(../images/bg.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: fixed;
	position: fixed;
}
.overlayer
{
	height: 100%;
	width: 100%;
	padding-top: 10%;
	position: fixed;
	background: linear-gradient(to bottom right, rgba(21, 50, 67,0.8),rgba(21, 50, 67,0.8),rgba(21, 50, 67,0.8), rgba(209, 102, 102,0.8 ));
}
.form
{
	width: 40%;
	margin: auto;
	background-color: white;
	padding:20px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 50px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 12px 20px -6px black;
}
.form h5
{
	font-weight: bold;
	color: #424242;
}
.form p
{
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
}
.head img
{
	display: inline-block;
	margin-top: -5px;
}
.design
{
	height: 150px;
}
.form .col-sm-12
{
    border:2px solid #8A8A8A;
}
.head
{
   	width: 250px;
    margin-top: -30px;
    background-color: white;
    padding-left: 20px;
}
.head h2
{
	margin-left: 20px;
}
@media only screen and (max-width: 850px) 
{
	.form
	{
		width: 60%;
	}
	.overlayer
	{
		padding-top: calc(10% + 50px);
	}
}
@media only screen and (max-width: 650px)
{
	.form
	{
		width: 80%;
	}
} 
@media only screen and (max-width: 450px)
{
	.form
	{
		width: 90%;
	}
	.overlayer
	{
		padding-top: calc(11% + 50px);
	}
}
@media only screen and (max-width: 400px)
{
	.head img
	{
		display: none;
	}
	.head
	{
		width: 170px;
		padding-left: 0px;
	}
} 
/*############################*/
.menu
{
	height: 100%;
	padding-right: 0px;
	border-right: 0.5px solid #F0F0F0;
}
.col-sm-4
{
	margin-right: 0px !important;
	padding-right: 0px !important;
}
.header
{
	width: 100%;
	height: 90px;
	background-color: #ECF1EF;
	padding: 20px;
	padding-top: 10px;
	font-family: 'Qwigley', cursive;
	box-shadow: -5px 4px 10px #B0B0B0;
}
.header img
{
	height: 50px;
	display: inline;
}
.header .dropdown-toggle
{
	float: right;
	width: 20px;
	position: relative;
	margin-top: 20px;
	border:0px;
	background-color: transparent;
	color: #424242;
}
.header h1, .form h2
{
	display: inline;
	margin-left: 30px;
	font-size: 60px;
	color:#424242;
	font-family: 'Qwigley', cursive;
	text-shadow: 2px 2px 5px #B0B0B0;
}
.dropdown
{
	float: right; 
	position: relative; 
	display: inline-block;
}
.dropdown-menu
{
	font-family: 'Montserrat', sans-serif;
}
