body
{
	overflow-x: hidden;
	height: 100%;
	overflow-y: hidden;
}
.padding-0
{
    padding-right:0 !important;
    padding-left:0 !important;
}
.maincont
{
	background-image: url(../images/bg.jpg);
	height: 100%;
	width: 100%;
	background-size: cover;
	background-position: fixed;
	position: fixed;
}
.overlayer
{
	height: 100%;
	width: 100%;
	padding-top: 10%;
	position: fixed;
	background: linear-gradient(to bottom right, rgba(21, 50, 67,0.8),rgba(21, 50, 67,0.8),rgba(21, 50, 67,0.8), rgba(209, 102, 102,0.8 ));
}
.form
{
	width: 40%;
	margin: auto;
	background-color: white;
	padding:20px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 50px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 12px 20px -6px black;
}
.form h5
{
	font-weight: bold;
	color: #424242;
}
.form p
{
	font-size: 15px;
	font-family: 'Montserrat', sans-serif;
}
.head img
{
	display: inline-block;
	margin-top: -5px;
}
.design
{
	height: 150px;
}
.form .col-sm-12
{
    border:2px solid #8A8A8A;
}
.head
{
   	width: 250px;
    margin-top: -30px;
    background-color: white;
    padding-left: 20px;
}
.head h2
{
	margin-left: 20px;
}
@media only screen and (max-width: 850px) 
{
	.form
	{
		width: 60%;
	}
	.overlayer
	{
		padding-top: calc(10% + 50px);
	}
}
@media only screen and (max-width: 650px)
{
	.form
	{
		width: 80%;
	}
} 
@media only screen and (max-width: 450px)
{
	.form
	{
		width: 90%;
	}
	.overlayer
	{
		padding-top: calc(11%);
	}
}
@media only screen and (max-width: 400px)
{
	.head img
	{
		display: none;
	}
	.head
	{
		width: 170px;
		padding-left: 0px;
	}
} 
/*############################*/
.menu
{
	height: 100%;
	padding-right: 0px;
	border-right: 0.5px solid #F0F0F0;
}
.col-sm-4
{
	margin-right: 0px !important;
	padding-right: 0px !important;
}
.header
{
	width: 100%;
	min-height: 90px;
	background-color:#EDEDED;
	padding: 20px;
	padding-left: 30px!important;
	padding-top: 10px;
	font-family: 'Qwigley', cursive;
}
.header img
{
	height: 50px;
	display: inline;
}
.header .dropdown-toggle
{
	float: right;
	width: 20px;
	position: relative;
	margin-top: 20px;
	border:0px;
	background-color: transparent;
	color: #424242;
}
.profile_cont
{
	background-color:#FAFAFA;
	padding: 5px;
	margin-top: 10px;
	border-radius: 2px;
	padding-right: 10px;
	padding-left: 10px;
}
.profile_cont img
{
	height: 30px;
	display: inline-block;
}
.profile_cont p
{
	display: inline-block;
	font-family: 'Questrial', sans-serif;
	font-weight: bolder;
	color: #636363;
	margin-top: 3px;
	margin-left: 10px;
	font-size: 15px;
	word-spacing: 5px;
}
.header h1, .form h2
{
	display: inline;
	margin-left: 30px;
	font-size: 60px;
	color:#424242;
	font-family: 'Qwigley', cursive;
	text-shadow: 2px 2px 5px #B0B0B0;
}
.dropdown-toggle
{
	height: 30px;
	width: 30px !important;
	border-radius: 50%;
	text-align: center;
	align-items: center;
	justify-content: center;
	margin-top: 10px!important;
	color: #9C9C9C!important;
	-webkit-transition:all 130ms;
}
.dropdown-toggle:hover
{
	background-color: #DEDEDE !important;
	color: #616161;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}
.dropdown-toggle:focus
{
	background-color: #DEDEDE !important;
	color: #616161;
	box-shadow: 2px 2px 5px rgba(0,0,0,0.4);
}
.dropdown
{
	float: right; 
	position: relative; 
	display: inline-block;
	margin-top: -10px;
}
.dropdown-menu
{
	font-family: 'Montserrat', sans-serif;
}
.icon-cont
{
	width:100px;
	padding-top: 10px;
	padding-left: 10px;
	height: 80px;
	background-color: white;
	display: inline-block;
	text-align: center;
}
.icon-cont img
{
	width: 50px;
}
.text-cont
{
	height: 80px;
	display: inline-block;
	padding-top:25px;
	font-family: 'Questrial', sans-serif;
	font-size: 17px;
	width:calc(100% - 100px);
	font-weight: bolder;
	border-bottom: 1px solid #F0F0F0;
	float: right;
	color: #7D7D7D;
}
.menu-item:hover
{
	cursor: pointer;
}
.menu-item:hover .icon-cont,
.menu-item:hover .text-cont
{
	background-color:#F7F7F7;
	border-bottom: 0px;
}
.menu-cont
{
	overflow-y: auto;
	height: calc(100% - 150px);
}
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white; 
}

/* Handle */
::-webkit-scrollbar-thumb {
    background:#DEDEDE; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background:#DEDEDE; 
}
.default
{
	height: 100%!important;
	text-align: center;
	background-color: #FAFAFA;
	padding:30px;
	padding-top: 10%;
}
.default .icon
{
	box-shadow:10px 10px 50px rgba(0,0,0,0.4);
}
.default h1
{
	font-family: 'Qwigley', cursive;
	font-size: 80px;
	text-shadow: 2px 2px 5px #B0B0B0;
}
.default p
{
	font-size: 15px;
	font-family: 'Questrial', sans-serif;
	word-spacing: 5px;
	letter-spacing: 2px;
}
.footer
{
	position: absolute;
	bottom: 0px;
	left: 0px;
}
.footer img
{
	width: 100%;
}
#container
{
	height: 100%;
	overflow-y: auto;
}
/*########################################*/
.add-new 
{
	padding-top: 0px!important;
	background-color:#FAFAFA;
	height: 100%; 
	font-family: 'Questrial', sans-serif;
}
.add-new .page-title
{
	width: 100%;
	height:auto;
	padding-top: 30px;
	padding-left: 30px;
	font-weight:lighter;
	letter-spacing:2px;
	font-size: 30px;
	color:#616161;
	word-spacing: 10px;
	font-family: 'Questrial', sans-serif;
}
.centered
{
	text-align: center;
	padding-top: 30px;
}
.project-icon
{
	height: 150px;
	-webkit-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
	box-shadow: 0 8px 6px -6px rgba(0,0,0,0.3);
}
.project-icon:hover
{
	cursor: pointer;
}
.form-cont
{
	padding: 30px;
}
.description
{
	font-size: 13px;
	color: #969696;
	margin-bottom: 20px;
}
.txt-sml
{
	background-color: transparent;
	border:0px;
	border-bottom: 2px solid #7F7F7F;
	display: inline-block;
	width: 250px;
	font-size: 17px;
}
.txt-sml:focus
{
	outline: none;
}
label
{
	display: inline-block;
	margin-right: 30px;
}
.color-cont
{
	text-align: center;
	margin-top: 30px;
}
.color-cont .custom-col-sm-2
{
	width:calc(100% / 7);
	display: inline-block;
	height: 200px;
	text-align: center;
	border:3px solid #D4D4D4;
	background-color: white;
	vertical-align: top;
}
.txt-sml-2
{
	margin-top: 50%;
}
.label
{
	display: inline-block;
	font-size: 17px !important;
	color:#616161 !important;
	margin-right: 30px;
}
.singelton-color-display
{
	display: inline-block;
	margin-left: 50px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	padding: 0px;
	background-color: transparent;
}
.popup
{
	display: inline-block;
	margin-left: 50px;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	padding: 0px;
	box-shadow: 3px 3px 5px rgba(0,0,0,0.2);
	-webkit-animation-name:popup;
	-webkit-animation-duration:200ms;
	-webkit-animation-iteration-count:1;
	-webkit-animation-fill-mode:forwards;
}
@keyframes popup
{
  from 
  {
    transform: scale(0);
  }
  to 
  {
    transform: scale(1);
  }
}